@import 'fonts.css';

body{
    font-family: 'Open Sans';
}

ul, li{
    display: block;
    padding: 0;
    margin: 0;
}
.menu-bar{
    color: #212121;
    background: #fff;
    padding: 20px 0;
}
.menu__item{
    margin-left: 37px;
}
.menu__item a{
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    color: #212121;
}
.menu__item a:hover{
    text-decoration: none;
    opacity: .6;
}

/*header*/
.header{
    background-image: url(../img/header.png);
    padding: 180px 0;
    background-size: cover;
    background-position: 0 100%;
    text-align: center;
    color: #fff;
}
.header__title{
    font-size: 55px;
}
.header__text{
    font-size: 20px;
    margin-bottom: 100px;
}
.button{
    background: transparent;
    cursor: pointer;
    padding: 10px 25px;
    margin: 0 10px;
    color: #fff;
    transition: .3s;
    border: 2px solid #fff;
    text-transform: uppercase;
}
.button:hover{
    background: #00897b;
    border: 2px solid #00897b;
}

/*About Us*/
.about{
    padding-top: 120px;
    padding-bottom: 15px;
    background: #fff;
    color: #212121;
    text-align: center;
}
.about__title{
    font-size: 30px;
    font-weight: bold;
}
.about__text{
    font-size: 15px;
    margin-bottom: 110px;
}
.about_h3{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Open Sans Semibold';
    font-size: 20px;
}

/*services*/
.services{
    padding-top: 165px;
    padding-bottom: 125px;
    background: #e4fdf9;
    color: #212121;
    text-align: center;
}
.our_card{
    background: #fff;
    padding: 50px 40px 40px;
    transition: .3s;
    margin-bottom: 30px;
}
.our_card:hover{
    background: #00897b;
    color: #fff;
    box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, .3);
}
.our_card:hover .icon{
    color: #fff;
}
.our_card:hover .button-services{
    border: 1px solid #fff;
    color: #fff;
}
.icon{
    font-size: 60px;
    color: #000;
    transition: .3s;
}
.button-services{
    transition: .3s;
    border: 1px solid #000;
    background: transparent;
    padding: 14px 12px;
    font-family: 'Open Sans Semibold';
}
.button-services:hover{
    cursor: pointer;
}

/*portfolio*/
.portfolio{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 135px;
}
.portfolio button{
    border: 2px solid #00897b;
    color: #212121;
}
.portfolio button:hover,
.focused{
    color: #fff;
    background: #00897b;
}
.portfolio img{
    max-width: 100%;
    margin-bottom: 20px;
}
.filter{
    padding: 120px 0;
}
div[filter]:hover img{
    filter: brightness(50%);
    transition: .3s;
}
.text{
    display: none;
}
div[filter]:hover .text{
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 40%;
    text-align: center;
}

/*pricing*/
.pricing{
    padding-top: 165px;
    padding-bottom: 125px;
    color: #212121;
    background: #f0f1f1;
    text-align: center;
}
.price{
    background: #fff;
    transition: .5s;
    margin-bottom: 20px;
}
.price:hover{
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, .3);
}
.price__head{
    color: #fff;
    padding-top: 40px;
    padding-bottom: 65px;
    background-image: url(../img/pricing_plan_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 211px;
    font-size: 50px;
}
.price__head p{
    font-size: 25px;
}
.price__head sup{
    font-size: 25px;
    vertical-align: middle;
}
.price__head sub{
    font-size: 17px;
    vertical-align: middle;
}
.price__body{
    font-size: 17px;
}
.price__body li{
    padding-top: 28px;
    padding-bottom: 12px;
    margin: 0 auto;
    max-width: 175px;
    border-bottom: 1px solid #bfbfbf;
}
.price__footer{
    padding: 60px 0;
}
.price__footer button{
    cursor: pointer;
    color: #212121;
    background: transparent;
    width: 180px;
    height: 60px;
    font-size: 20px;
    border: 2px solid #212121;
    transition: .3s;
}
.price__footer button:hover{
    text-transform: uppercase;
    color: #fff;
    background: #00897b;
    border: none;
}

/*team*/
.team{
    padding-top: 165px;
    padding-bottom: 125px;
    color: #212121;
    background: #fff;
    text-align: center;
}
.team h4{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Open Sans Semibold';
}
.tean p{
    font-size: 15px;
    margin-bottom: 30px;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons i:nth-child(1){
    color: #f0f1f1;
}
.icons i:nth-child(2){
    color: #00897b;
}
.icons a:hover i:nth-child(1){
    color: #3949ab;
}
.icons a:hover i:nth-child(2){
    color: #fff;
}
.team img{
    margin: 0 auto;
    max-width: 340px;
}
.your-class{
    margin-top: 50px;
}
.dots-style{
    margin-top: 115px;
    display: flex;
    justify-content: center;
}
.dots-style button{
    background: #00897b;
    border: none;
    border-radius: 50%;
    font-size: 0;
    height: 15px;
    width: 15px;
    margin: 5px;
}
.dots-style button:focus{
    outline: none;
}
.dots-style li[class="slick-active"] button{
    background: #3949ab;
}

/*Blog*/
.right > div:first-child{
    order: 2;
}
.right > div:last-child{
    order: 1;
}
.blog{
    text-align: left;
    margin-top: 60px;
    margin-left: 20px;
}
.blog a{
    font-size: 25px;
    color: #00897b;
    font-family: 'Open Sans Semibold';
}
.blog div{
    margin-top: 15px;
    margin-bottom: 20px;
}
.blog span{
    font-size: 17px;
    font-family: 'Open Sans Semibold';
    margin-right: 35px;
}
.blog i{
    margin-right: 15px;
}
.blog p{
    font-size: 15px;
}
.left, .right{
    margin: 0 -40px;
}
.button_blog{
    width: 220px;
    height: 70px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    margin-top: 125px;
    border: none;
    background: #00897b;
    font-family: 'Roboto', ;
    font-weight: bold;
    transition: .3s;
}
.button_blog:hover{
    cursor: pointer;
    opacity: .6;
}

/*footer*/
.footer{
    padding-top: 165px;
    padding-bottom: 125px;
    color: #fff;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.footer .about__text{
    color: #fff;
}
.fa-map-marker-alt,
.fa-phone,
.fa-envelope{
    font-size: 62px;
    color: #fff;
}
.circle{
    background: #3949ab;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle + p{
    font-size: 20px;
    font-family: 'Open Sans Semibold';
}
.footer input, 
.footer textarea{
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    border: none;
}
.footer input:focus, 
.footer textarea:focus,
.footer button:focus{
    outline: none;
}
.form{
    margin-top: 70px;
}
.footer textarea{
margin-top: 30px;
margin-bottom: 30px;
}
.footer button{
    font-size: 20px;
    font-family: 'Roboto', ;
    text-transform: uppercase;
    color: #212121;
    padding: 20px 80px;
    border-radius: 10px;
    background: #fff;
    border: none;
    transform: .3s;
}
.footer button:hover{
    opacity: .6;
}
.rules{
    padding: 20px 0;
    text-align: center;
    font-weight: 600;
}
/*button 'to top'*/
#toTop{
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    background: #00897b;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #000;
}
.menu-icon{
    display: none;
}




@media screen and (max-width: 1024px){
    nav{
        display: none;
    }
    .logo-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-icon{
        display: block;
        background: #fff;
        color: #212121;
        border: none;
        font-size: 25px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .menu-icon:hover{
        color: #fff;
        background: #00897b;
    }
    .menu-icon:focus{
        outline: none;
    }
    .blog{
     margin-top: 10px;
    }
    .footer input, .footer textarea{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 480px){
        .header{
            padding: 20px;
        }
        .header__title{
            font-size: 45px;
        }
        .header__text{
            margin-bottom: 20px;
        }
        .button{
            margin-bottom: 10px;
        }
        .about{
            padding: 20px;
        }
        .about__text{
            margin-bottom: 20px;
        }
        .services{
            padding: 20px;
        }
        .portfolio{
            padding: 20px;
        }
        .filter{
            padding: 20px;
        }
        .pricing{
            padding: 20px;
        }
        .team{
            padding: 20px;
        }
        .multiple-items{
            margin-top: 10px;
        }
        .team img{
            max-width: 260px;
        }
        .dots-style {
            margin-top: 10px;
        }
        .left, .right{
            flex-direction: column;
        }
        .left>div:first-child{
            order: 1;
        }
        .blog i{
            margin-right: 5px;
        }
        .button_blog{
            margin-top: 20px;
        }
        .footer{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .form{
            margin-top: 20px;
        }
    }
}
